.btn {
  background-color: #29293a;
  border: none;
  color: #f2f2f3;
  cursor: pointer;
  font-family: SZSansDigital, "Neue Helvetica", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.3px;
  padding: 10px 30px;
  text-decoration: none;
}
