@import "../style/helpers.scss";

.btn {
  @include px(6);
  @include py(3);
  @include font-size(3);

  @include desktop {
    @include px(7);
    @include font-size(4);
  }


  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-color: #29293a;
  border: none;
  color: #f2f2f3;
  cursor: pointer;
  font-family: SZSansDigital, "Neue Helvetica", Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-decoration: none;
}
